body{
    background-color: salmon;
}
p{
    font-style:oblique;
}

.container{
    display: flex;
}

.text{
    margin-top: 200px;
    font-size: 1.45em;
    color: white;
    width: 45%;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-container{
    margin-top: 140px;
    width: 45%;
}

.imagen{
    width: 80%;
    height: auto;
}


